<%= render 'shared/navbar' %>
<% cache ('main_page_index') do %>
  <div class="pad-color"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="well">
          <h1><center>Conversations You May Have Recently Missed</center></h1>
        </section>
        <article>
          <% @chirps.each do |chirp|  %>
          <div class="panel panel-primary">
             <div class="panel-heading">
                <h3 class="panel-title"><%= chirp.name %></h3>
             </div>
             <div class="panel-body">
                <%= auto_link(chirp.text, :target => '_blank').html_safe %>
             </div>
             <div class="panel-footer">
               <%= chirp.created_on.to_date %>
             </div>
          </div>
          <% end %>
        </article>
      </div>
    </div>
  </div>
<% end %>
